.widget__item--1 {
    background-image: url('../menuImg/1.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 
  
  .widget__item--2 {
    background-image: url('../menuImg/2.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 
  
  .widget__item--3 {
    background-image: url('../menuImg/3.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--4 {
    background-image: url('../menuImg/4.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--5 {
    background-image: url('../menuImg/5.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--6 {
    background-image: url('../menuImg/6.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--7 {
    background-image: url('../menuImg/7.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--8 {
    background-image: url('../menuImg/8.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--9 {
    background-image: url('../menuImg/9.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--10 {
    background-image: url('../menuImg/10.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  .widget__item--11 {
    background-image: url('../menuImg/11.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin:150px 50px 50px 250px;
  } 

  