
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 12px;
  }
}

@media screen and (max-width: 1279px){
  .wrapper {
    padding: 0 24px;
  }
}

.wrapper{
  
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}



