@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Gilroy-Regular';
  src:
    url('./assets/fonts/gilroy-regular.woff2') format('woff2'),
   
    url('./assets/fonts/gilroy-regular.woff') format('woff'),
    
    url('./assets/fonts/gilroy-regular.ttf') format('truetype'),
    
}

body {
  margin: 0;
  font-family: Gilroy-Regular, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}









 